#application {
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  #country .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  .ui.checkbox {
    display: block;
  }
}